
* {
            color: #999999;            
            box-sizing: border-box;
            font-family: 'Monteserat', Arial, sans-serif;
        }
 
        header,
        nav,
        section,
        aside {
            text-align: center;
            border-radius: 7px;            
            box-shadow: 0 5px 15px rgba(0,0,0,.08);
        }
 
        header {
            margin: auto;
            width: 40%;      
            background-color: #00bdaa;       

        }

        header img {
            max-width: 100%;
        } 

        h1 {
            font-size: 16px;
            color: #00bdaa;
        }

        h2 {
            font-size: 14px;               
        }

        p {
            text-align: justify;
        }

        ul {
            text-align: justify;
        }    
 
        nav {
            font-size: 12px;
            width: 40%;
            margin: auto;        
            display: flex;                
        }

        .column {
            flex: 33.33%;
            height: 30px;
            padding: 7px;           
            text-align: center;            
        }

        .two_columns_left {
            flex: 50%;
            height: 80px;
            padding: 7px;                
        }

        .two_columns_right {
            flex: 50%;
            height: 80px;
            padding: 7px;           
        }
 
        aside {
            width: 25%;
            float: left;
            min-height: 517px;
        }
 
        section {
            margin: auto;
            width: 50%; 
            margin-top: 50px;
        }

        article {
            text-align: left;
            font-size: 12px;            
        }
 
        section header,
        section article,
        section footer {
            width: 100%;
            border-radius: 7px;
            border: 1px solid #e5e5e5;
            box-shadow: none;
            margin: 25px 0px 0px 0px;
            padding: 20px;
        }
 
        footer {
            margin: auto;
            width: 50%;
            margin-top: 50px;
            padding: 10px;
            text-align: center;
        }

        iframe {
            width: 100%;     
            aspect-ratio: 16/9;       
        }

        .links {
            display: flex;
            height: 80px;
            justify-content: center;
            align-items: center;
        }

        @media (max-width: 1200px) {
            header {                
                width: 50%;                     
            }
            nav {           
                width: 50%;             
            }
            section {           
                width: 75%;             
            }
            footer {            
                width: 75%;            
            }
        }

        @media (max-width: 800px) {
            header {                
                width: 90%;                     
            }
            nav {           
                width: 90%;             
            }
            section {           
                width: 90%;             
            }
            footer {            
                width: 90%;            
            }
        }
